h3 {
    color:#edffa9;
    margin-right: 5%;
}

.main-heading {
    color:red;
    margin-right: 5%;
}

body {
    background-color: #fddaf0;
}

button {
    border:none;
    margin: 0;
    height:100%;
    background-color: #542e71;
    color: white;
}

button:hover {
    color: #edffa9;
}

.nav-final {
    background-color: #542e71;
}

.toggler-color.navbar-toggler {
    border-color: white;
}

#all-bars {
    margin:6% 7%;
    display:flex;
}

.bars {
    flex-grow:1;
    background-color: #542e71;
    display:inline-block;
    border:1px solid white;
}

#speed-scroll {
    margin:50px;
    text-align:center;
}

#speed-scroll input{
    cursor: pointer;
    margin:0 20px 0 20px;
    margin:auto;
    display:block;
}

#speed-scroll h6{
    color:white;   
}

#bars-scroll {
    margin:50px;
    text-align:center;
}

#bars-scroll input{
    cursor: pointer;
    margin:0 20px 0 20px;
    margin:auto;
    display:block;
}

#bars-scroll h6{
    color:white;   
}

.scroll {
    margin:0 20px 0 20px;
}