h3 {
    color:#edffa9;
    margin-right: 5%;
}

body {
    background-color: #fddaf0;
}

button {
    border:none;
    margin: 0;
    height:100%;
    background-color: #542e71;
    color: white;
}

button:hover {
    color: #edffa9;
}

.nav-final {
    background-color: #542e71;
}

.toggler-color.navbar-toggler {
    border-color: white;
}

#all-bars {
    margin:6% 7%;
}

.bars {
    width:1%;
    background-color: #edffa9;
    display:inline-block;
    border:1px solid #04009a;
}

#speed-scroll {
    margin:70px;
}